option_settings:
    aws:elasticbeanstalk:container:nodejs:
        NodeCommand: "npm install && npm run build && nest start"
    aws:elasticbeanstalk:application:environment:
        AWS_ACCESS_KEY_ID: AKIATH7P2FXNRNVHFEMH
        AWS_SECRET_ACCESS_KEY: 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
        AWS_PUBLIC_BUCKET_NAME: portafolioeleazar
        AWS_REGION: us-east-2
        DATABASE_HOST: cluster0.uf1mc.mongodb.net
        DATABASE_NAME: portafolio
        DATABASE_PASSWORD: LotoWeb616Mongo
        DATABASE_USERNAME: eleazar
        PORT: 3000
        S3_BUCKET: portafolioeleazar
        SERVER_URL: https://infinite-plains-92526.herokuapp.com/